---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="https://www.arielcerda.com/" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 italic decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>CV Mario Amé 2024, made by Ariel Cerda
		</span>
	</a>
</div>